body {
    font-family: 'Montserrat', sans-serif;
    background-color: white ;
}

/*main*/

.main {
    display: flex;
    flex-direction: row-reverse;
    background-color: white ;
    margin: 0 auto;
    width: 1200px;
    justify-content: center;
}

/* main content */

.mcontent {
    background-color: white;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 90px 90px 90px 200px;
}

/* about user */

.abuser h3 {
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
}

.abuser h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 25px;
    margin-top: 5px;
}

.abuser q {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}


/* projects */

.projects {
    margin-top: 40px;
    margin-bottom: 50px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.projects ol {
    padding: 0;
    margin-left: 20px;
}

.projects-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.projects-item a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    text-decoration: none;
}

.projects-item span :hover {
    color:black;
}

.plink {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 10px;
}

.pbracket {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* work experience */

.work h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FB6D3A;
}

.work p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-top: 5px;
    margin-bottom: 10px;
}

.wline {
    color: black;
}

.work ul {
    padding: 0;
    margin-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 510px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.wposition {
    color: black;
}

/* education */

.education {
    margin-top: 50px;
}

.maup{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.speciality{
    margin-top: 5px;
    margin-bottom: 10px;
}

/* sidebar */

.sidebar {
    background-color: #093009;
    width: 370px;
    padding-top: 40px;
}

.img {
    border-radius: 20px;
    margin-left: 55px;
    width: 260px;
    height: 390px;
}

/* contacts */

.contacts, .tskills, .sskills {
    margin-left: 55px;
    margin-top: 50px;
}

.sidebar-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: white;
    margin-bottom: 10px;
}

.contacts span {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: white;
    margin-right: 10px;
}

.contacts-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color:#565E6A;
    text-decoration: none;
}

.contacts p :hover {
    color: white;
}

/* tech,soft skills */

.tskills ul, .sskills ul {
    padding: 0;
    margin-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
}

.tskills span, .sskills span {
    color: rgba(255, 255, 255, 0.829);
}

.tskills-imet, .sskills-item {
    color: #FB6D3A;
}





